
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

* {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 200ms;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
